---
{
    "stream": {
        "$id": "country",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "ce_country"
            ]
        },
        "fields": [
            "id", 
            "uid",
            "meta", 
            "name",
            "slug",
            "c_parents.name",
            "c_parents.meta",
            "c_parents.slug",
            "c_parents.id",
            "c_children.name",
            "c_children.meta",
            "c_children.slug",
            "c_children.id",
            "c_children.c_children"
        ],
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero}}
                <div class="centered-container">
                    {{>breadcrumbs}}
                    <div class="section grid grid-cols-3 gap-x-8">
                        <div class="space-y-5">
                            {{#if (compare name "United States")}}
                                <h1>Welcome to <span class="italic underline">the {{name}}!</span></h1>
                            {{else if (compare name "United Kingdom")}}
                                <h1>Welcome to <span class="italic underline">the {{name}}!</span></h1>
                            {{else}}
                                <h1>Welcome to <span class="italic underline">{{name}}!</span></h1>
                            {{/if}}
                            <div>This page is powered by a <span class="font-extrabold italic">{{meta.entityType.id}}</span> entity.</div>
                        </div>
                        <div class="children px-8">
                            {{#each (sortBy c_children "name")}}
                                <div class="font-semibold text-2xl text-blue-900">
                                    <a href="/{{this.slug}}" class="hover:underline">
                                        {{this.name}} ({{length c_children}})
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                        <div>
                            {{#if (compare name "United States")}}
                                <img src="https://www.gannett-cdn.com/presto/2019/12/31/USAT/8470d06a-f859-4701-8792-41e4222d4ec0-GettyImages-dv2073044.jpg" width="600">
                            {{else}}
                                <img src="https://s.wsj.net/public/resources/images/ON-DN730_Borisp_M_20200317092202.jpg" width="600">
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>