---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "location"
            ]
        },
        "fields": [
            "id", 
            "uid",
            "meta", 
            "name",
            "slug",
            "address",
            "c_parents.name",
            "c_parents.meta",
            "c_parents.slug",
            "c_parents.id"
        ],
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero}}
                <div class="centered-container">
                    {{>breadcrumbs}}
                    <div class="section grid grid-cols-3 gap-x-8">
                        <div>
                            <h1>Welcome to <span class="italic underline">{{name}}</span></h1>
                            <div>This page is powered by a <span class="font-extrabold italic">{{meta.entityType.id}}</span> entity!</div>
                        </div>
                        <div class="px-8">
                            <h2>Address:</h2>
                            <div>{{address.line1}}</div>
                            <div>{{address.line2}}</div>
                            <div>{{address.city}}, {{address.region}}</div>
                        </div>
                        <div>
                            <img src="https://www.yext.com/wp-content/uploads/2021/04/FinancialTimes_FastestGrowing_Blog-PR.jpg" width="400px">
                        </div>
                    </div>
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>