---
{
    "stream": {
        "$id": "root",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "ce_root"
            ]
        },
        "fields": [
            "id", 
            "uid",
            "meta", 
            "name",
            "slug",
            "c_children.name",
            "c_children.meta",
            "c_children.slug",
            "c_children.id",
            "c_children.c_children"
        ],
        "localization": {
            "locales": ["en", "es", "de"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero}}
                <div class="centered-container">
                    {{>breadcrumbs}}
                    <div class="section grid grid-cols-3 gap-x-8">
                        <div class="space-y-5">
                            <h1>Welcome to the <span class="italic underline">{{name}}</span> root!</h1>
                            <div>This page is powered by a <span class="font-extrabold italic">{{meta.entityType.id}}</span> entity!</div>
                        </div>
                        <div class="children px-8">
                            <div class="text-2xl font-bold pb-3">Countries:</div>
                            {{#each (sortBy c_children "name")}}
                                <div class="font-semibold text-2xl text-blue-900">
                                    <a href="/{{this.slug}}" class="text-xl pl-3 hover:underline">
                                        {{this.name}} ({{length c_children}})
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                        <div>
                            <img src="https://d3mvlb3hz2g78.cloudfront.net/wp-content/uploads/2014/03/thumb_720_450_seedling_shutterstock_3530522-custom.jpg" width="600">
                        </div>
                    </div>
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>