---
{
    "stream": {
        "$id": "states",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "ce_state"
            ]
        },
        "fields": [
            "id", 
            "uid",
            "meta", 
            "name",
            "slug",
            "c_parents.name",
            "c_parents.meta",
            "c_parents.slug",
            "c_parents.id",
            "c_children.name",
            "c_children.meta",
            "c_children.slug",
            "c_children.id",
            "c_children.c_children.slug"
        ],
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero}}
                <div class="centered-container">
                    {{>breadcrumbs}}
                    <div class="section space-y-5">
                        <h1>Entity Name: <span class="font-normal">{{name}}</span></h1>
                        <h2>Entity Type: <span class="font-normal">{{meta.entityType.id}}</span></h2>
                    </div>
                    <div class="section">
                        <div class="children">
                            {{#each (sortBy c_children "name")}}
                                <div class="font-semibold text-2xl text-blue-900">
                                    {{!-- Skip level if city only has 1 child --}}
                                    {{#if (compare (length c_children) 1) }}
                                        <a href="/{{c_children.[0].slug}}" class=" hover:underline">
                                            {{this.name}} ({{length c_children}})
                                        </a>
                                    {{else}}
                                        <a href="/{{this.slug}}" class=" hover:underline">
                                            {{this.name}} ({{length c_children}})
                                        </a>                
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>